DATABASE_PATH=users.db
ALLOWED_ORIGINS=https://tu-dominio.com

ENABLE_PASSWORD_AUTH=false

# Entra
OIDC_TENANT_ID=7b128625-9864-4389-b07c-3e139e7559cd
OIDC_CLIENT_ID=b68d24e8-db81-48fc-999f-bc6f78e2e6ae
OIDC_CLIENT_SECRET=
OIDC_PUBLIC_CLIENT=false
# Si quieres aceptar cuentas corporativas de otros tenants:
# OIDC_DISCOVERY_URL=https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration
OIDC_DISCOVERY_URL=
OIDC_SCOPE=openid profile email
OIDC_ISSUER=

# Debe existir en App Registration
SSO_REDIRECT_URI=https://tu-dominio.com/api/auth/sso/callback

# Solo si usas Entra como broker social con hints
OIDC_PROVIDER_HINT_PARAM=idp
OIDC_PROVIDER_HINT_GOOGLE=
OIDC_PROVIDER_HINT_MICROSOFT=
OIDC_PROVIDER_HINT_APPLE=

APP_TOKEN_SECRET=CAMBIA_ESTE_VALOR_SEGURO
APP_TOKEN_TTL_SECONDS=28800

LOGIN_FRONT_URL=https://tu-dominio.com/login
CLIENTS_APP_URL=https://tu-dominio.com/app

REQUIRE_ALLOWLIST=true
ALLOWED_EMAILS=santiagomejia.r02@gmail.com

SSO_STATE_TTL_SECONDS=900
